
    <form action="/postedit" method="get">
    <label>Id:</label><input type="text" name="note_id" value="{{note_id}}" readonly>
    <br>
    <label>Title:</label><input type="text" name="title"  placeholder="Sample title" value="{{edited_title}}">
    <br>
    <label>Content:</label><input type="text" name="content" placeholder="Lorem ipsum dolor" value="{{edited_content}}">
    <br><br>
    <input type="submit" value="Update Note">
    </form>
 