<!DOCTYPE html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type = "text/javascript">
    $(document).ready(function (){
      $("button#add").click(function(e) {
        const title = $('textarea[name=title]').val()
        const details = $('textarea[name=content]').val()
        //console.log(id)
        $.ajax({
      url: 'savenote',
      data: {'title': title, 'details': details},
      type: "GET",
      success: function(data){
            alert("Note saved")
      },
      error: function(passParams){
           alert("Errow while saving")
      }
});
  });
    });
    
    </script>
</head>
<body>
    <h1>
        Welcome, {{username}}!
    </h1>
    <form action="/getnotes" method="get">
    <input type="submit" value="My Notes">
    </form>
    <br><br><br><br><br><br><br><br>
    <div>
        <label>Title:</label><textarea id="title" name="title"  placeholder="Sample title" required="true">{{edited_title}}</textarea>
        <br>
        <label>Content:</label><textarea id="content" name="content" placeholder="Lorem ipsum dolor" required="true">{{edited_content}}</textarea>
        <br><br>
        <button type="submit" id="add">Add Note</button>
    </div>
    <br><br><br>
    <form action="logout", method="get">
        <button type="submit" value="Logout" style="color:brown">Logout</button>
    </form>
</body>
<style>
        form {
    text-align: center;
    border-radius: 10in;
    }
    div
    {
        text-align: center;
        border-radius: 10in;
    }
    body{
        background-color: lightgrey;
    }
    h1 {
    text-align: center;
    }
    
    #content
    {
        /*height: 200px;
        width: 500px;
        vertical-align: top;
        text-align: left;*/
        -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 500px;
            height:200px;
        
        word-wrap: break-word;
    }*/
    #title
    {
        width: 500px;
    }
    input[type=text] {
        word-wrap: break-word;
        word-break: break-all;
       
    }
  </style>
</html>