<!DOCTYPE html>
<head>
</head>
<body>
    <h1>
        Welcome, {{username}}!
    </h1>
</body>
<style>
        form {
    text-align: center;
    border-radius: 10in;
    }
    body{
        background-color: lightgrey;
    }
    h1 {
    text-align: center;
    }
  </style>
</html>