<!DOCTYPE html>
<html>
  <head>
	  <h1>Join Us!</h1>
  </head>
  <body >
	<form action="/postregister" method="post" class="center">
  	<br>
    <p style="color:red">{{existinguser}}</p>
    <p style="color:red">{{passnotmatch}}</p>
    <br><br>
  	<label>Username: </label><input type="text" name="username" placeholder="Username" required><br><br>
  	<br>
  	<label>Password: </label><input type="password" name="password" placeholder="Password" required><br><br>
    <label>Confirm password: </label><input type="password" name="conf_password" placeholder="Password" required><br><br>
  	<input type="submit" value="register">
      <br>
      <a href="login.hbs">Already a member? Sign in!</a>
	</form>
  </body>
 <style>
	 form {
  text-align: center;
  border-radius: 10in;
  }
  body{
	background-color: bisque;
  }
  h1 {
  text-align: center;
  }
  </style>
</html>
